In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('HCAHPS-Hospital.csv')
df.head()

C:\Users\dell\AppData\Local\Temp\ipykernel_1116\3170743048.py:1: DtypeWarning: Columns (12,14,17,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('HCAHPS-Hospital.csv')

,Facility ID,Facility Name,Address,City/Town,State,ZIP Code,County/Parish,Telephone Number,HCAHPS Measure ID,HCAHPS Question,...,Patient Survey Star Rating Footnote,HCAHPS Answer Percent,HCAHPS Answer Percent Footnote,HCAHPS Linear Mean Value,Number of Completed Surveys,Number of Completed Surveys Footnote,Survey Response Rate Percent,Survey Response Rate Percent Footnote,Start Date,End Date
0,10001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,H_COMP_1_A_P,"Patients who reported that their nurses ""Alway...",...,NaN,72,NaN,Not Applicable,669,NaN,18,NaN,10-01-2023,09/30/2024
1,10001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,H_COMP_1_SN_P,"Patients who reported that their nurses ""Somet...",...,NaN,6,NaN,Not Applicable,669,NaN,18,NaN,10-01-2023,09/30/2024
2,10001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,H_COMP_1_U_P,"Patients who reported that their nurses ""Usual...",...,NaN,22,NaN,Not Applicable,669,NaN,18,NaN,10-01-2023,09/30/2024
3,10001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,H_COMP_1_LINEAR_SCORE,Nurse communication - linear mean score,...,NaN,Not Applicable,NaN,89,669,NaN,18,NaN,10-01-2023,09/30/2024
4,10001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,H_COMP_1_STAR_RATING,Nurse communication - star rating,...,NaN,Not Applicable,NaN,Not Applicable,669,NaN,18,NaN,10-01-2023,09/30/2024

In [3]:
df.shape

(442215, 22)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442215 entries, 0 to 442214
Data columns (total 22 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Facility ID                            442215 non-null  object
 1   Facility Name                          442215 non-null  object
 2   Address                                442215 non-null  object
 3   City/Town                              442215 non-null  object
 4   State                                  442215 non-null  object
 5   ZIP Code                               442215 non-null  int64
 6   County/Parish                          442215 non-null  object
 7   Telephone Number                       442215 non-null  object
 8   HCAHPS Measure ID                      442215 non-null  object
 9   HCAHPS Question                        442215 non-null  object
 10  HCAHPS Answer Description              442215 non-null  object
 11  Patient Survey Star Rating             442215 non-null  object
 12  Patient Survey Star Rating Footnote    17369 non-null   object
 13  HCAHPS Answer Percent                  442215 non-null  object
 14  HCAHPS Answer Percent Footnote         119448 non-null  object
 15  HCAHPS Linear Mean Value               442215 non-null  object
 16  Number of Completed Surveys            442215 non-null  object
 17  Number of Completed Surveys Footnote   154287 non-null  object
 18  Survey Response Rate Percent           442215 non-null  object
 19  Survey Response Rate Percent Footnote  154287 non-null  object
 20  Start Date                             442215 non-null  object
 21  End Date                               442215 non-null  object
dtypes: int64(1), object(21)
memory usage: 74.2+ MB

In [5]:
df.describe(include="all")

,Facility ID,Facility Name,Address,City/Town,State,ZIP Code,County/Parish,Telephone Number,HCAHPS Measure ID,HCAHPS Question,...,Patient Survey Star Rating Footnote,HCAHPS Answer Percent,HCAHPS Answer Percent Footnote,HCAHPS Linear Mean Value,Number of Completed Surveys,Number of Completed Surveys Footnote,Survey Response Rate Percent,Survey Response Rate Percent Footnote,Start Date,End Date
count,442215,442215,442215,442215,442215,442215.000000,442215,442215,442215,442215,...,17369.0,442215,119448,442215,442215,154287,442215,154287,442215,442215
unique,4755,4636,4728,2912,56,NaN,1541,4731,93,93,...,7.0,103,22,47,1301,22,63,22,1,1
top,10001,MEMORIAL HOSPITAL,100 HOSPITAL DRIVE,CHICAGO,TX,NaN,LOS ANGELES,(469) 341-7800,H_COMP_1_A_P,"Patients who reported that their nurses ""Alway...",...,15.0,Not Applicable,1,Not Applicable,Not Available,6,Not Available,6,10-01-2023,09/30/2024
freq,93,1116,558,2883,36828,NaN,7068,372,4755,4755,...,10082.0,99855,39087,394665,72168,38781,72168,38781,442215,442215
mean,NaN,NaN,NaN,NaN,NaN,54094.991167,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,26998.413187,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,603.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,32958.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,55454.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,76208.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,99929.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.isnull().sum()

Facility ID                                   0
Facility Name                                 0
Address                                       0
City/Town                                     0
State                                         0
ZIP Code                                      0
County/Parish                                 0
Telephone Number                              0
HCAHPS Measure ID                             0
HCAHPS Question                               0
HCAHPS Answer Description                     0
Patient Survey Star Rating                    0
Patient Survey Star Rating Footnote      424846
HCAHPS Answer Percent                         0
HCAHPS Answer Percent Footnote           322767
HCAHPS Linear Mean Value                      0
Number of Completed Surveys                   0
Number of Completed Surveys Footnote     287928
Survey Response Rate Percent                  0
Survey Response Rate Percent Footnote    287928
Start Date                                    0
End Date                                      0
dtype: int64

In [7]:
df.columns = df.columns.str.strip().str.replace(' ', '_')
df.columns

Index(['Facility_ID', 'Facility_Name', 'Address', 'City/Town', 'State',
       'ZIP_Code', 'County/Parish', 'Telephone_Number', 'HCAHPS_Measure_ID',
       'HCAHPS_Question', 'HCAHPS_Answer_Description',
       'Patient_Survey_Star_Rating', 'Patient_Survey_Star_Rating_Footnote',
       'HCAHPS_Answer_Percent', 'HCAHPS_Answer_Percent_Footnote',
       'HCAHPS_Linear_Mean_Value', 'Number_of_Completed_Surveys',
       'Number_of_Completed_Surveys_Footnote', 'Survey_Response_Rate_Percent',
       'Survey_Response_Rate_Percent_Footnote', 'Start_Date', 'End_Date'],
      dtype='object')

In [8]:
df.drop(columns=[
    'Patient_Survey_Star_Rating_Footnote',
    'HCAHPS_Answer_Percent_Footnote',
    'Number_of_Completed_Surveys_Footnote',
    'Survey_Response_Rate_Percent_Footnote'
], inplace=True)

In [9]:
df.isnull().sum()

Facility_ID                     0
Facility_Name                   0
Address                         0
City/Town                       0
State                           0
ZIP_Code                        0
County/Parish                   0
Telephone_Number                0
HCAHPS_Measure_ID               0
HCAHPS_Question                 0
HCAHPS_Answer_Description       0
Patient_Survey_Star_Rating      0
HCAHPS_Answer_Percent           0
HCAHPS_Linear_Mean_Value        0
Number_of_Completed_Surveys     0
Survey_Response_Rate_Percent    0
Start_Date                      0
End_Date                        0
dtype: int64

In [10]:
df.dtypes

Facility_ID                     object
Facility_Name                   object
Address                         object
City/Town                       object
State                           object
ZIP_Code                         int64
County/Parish                   object
Telephone_Number                object
HCAHPS_Measure_ID               object
HCAHPS_Question                 object
HCAHPS_Answer_Description       object
Patient_Survey_Star_Rating      object
HCAHPS_Answer_Percent           object
HCAHPS_Linear_Mean_Value        object
Number_of_Completed_Surveys     object
Survey_Response_Rate_Percent    object
Start_Date                      object
End_Date                        object
dtype: object

In [11]:
df['ZIP_Code'] = df['ZIP_Code'].astype(str)

In [12]:
numeric_cols = ['Patient_Survey_Star_Rating', 
                'HCAHPS_Answer_Percent', 
                'HCAHPS_Linear_Mean_Value', 
                'Number_of_Completed_Surveys', 
                'Survey_Response_Rate_Percent']

for col in numeric_cols:
    df[col] = (df[col].astype(str)
               .str.replace('%', '', regex=False)
               .str.replace(',', '', regex=False)
               .replace(['Not Available', 'Not Applicable', 'N/A', 'nan', 'NaN', 'None', ' ', 'Blanks'], None)
               .astype(float))

In [13]:
df['Start_Date'] = pd.to_datetime(df['Start_Date'], errors='coerce')
df['End_Date'] = pd.to_datetime(df['End_Date'], errors='coerce')

In [14]:
df['Number_of_Completed_Surveys'] = df['Number_of_Completed_Surveys'].fillna(0).astype(int)

In [15]:
# Fill missing values within each State group by mean ofthat State
df['Patient_Survey_Star_Rating'] = df.groupby('State')['Patient_Survey_Star_Rating'].transform(
    lambda x: x.fillna(round(x.mean(), 2))
).round(2)

df['HCAHPS_Linear_Mean_Value'] = df.groupby('State')['HCAHPS_Linear_Mean_Value'].transform(
    lambda x: x.fillna(round(x.mean(), 2))
).round(2)

df['HCAHPS_Answer_Percent'] = df.groupby('State')['HCAHPS_Answer_Percent'].transform(
    lambda x: x.fillna(round(x.mean(), 2))
).round(2)

df['Number_of_Completed_Surveys'] = df.groupby('State')['Number_of_Completed_Surveys'].transform(
    lambda x: x.fillna(round(x.mean(), 2))
).round(2)

df['Survey_Response_Rate_Percent'] = df.groupby('State')['Survey_Response_Rate_Percent'].transform(
    lambda x: x.fillna(round(x.mean(), 2))
).round(2)

In [16]:
print(df.dtypes)

Facility_ID                             object
Facility_Name                           object
Address                                 object
City/Town                               object
State                                   object
ZIP_Code                                object
County/Parish                           object
Telephone_Number                        object
HCAHPS_Measure_ID                       object
HCAHPS_Question                         object
HCAHPS_Answer_Description               object
Patient_Survey_Star_Rating             float64
HCAHPS_Answer_Percent                  float64
HCAHPS_Linear_Mean_Value               float64
Number_of_Completed_Surveys              int64
Survey_Response_Rate_Percent           float64
Start_Date                      datetime64[ns]
End_Date                        datetime64[ns]
dtype: object

In [17]:
# Surveys Duration
df['Survey_Period_Days'] = (df['End_Date'] - df['Start_Date']).dt.days

In [18]:
# Response Rate Category
def categorize_response(rate):
    if pd.isna(rate):
        return 'Unknown'
    elif rate < 30:
        return 'Low'
    elif 30 <= rate < 60:
        return 'Medium'
    else:
        return 'High'

df['Survey_Response_Category'] = df['Survey_Response_Rate_Percent'].apply(categorize_response)

In [19]:
# Satisfaction Level (categorical)
def satisfaction_label(rating):
    if pd.isna(rating):
        return 'Unknown'
    elif rating < 2.5:
        return 'Poor'
    elif 2.5 <= rating < 3.5:
        return 'Average'
    elif 3.5 <= rating < 4.5:
        return 'Good'
    else:
        return 'Excellent'

df['Satisfaction_Level'] = df['Patient_Survey_Star_Rating'].apply(satisfaction_label)

In [20]:
# Rating to Response Ratio
df['Rating_to_Response_Ratio'] = df['Patient_Survey_Star_Rating']/ df['Survey_Response_Rate_Percent']

In [21]:
# Performance Score
df['Performance_Score'] = (0.6 * df['Patient_Survey_Star_Rating']) + (0.4 * (df['Survey_Response_Rate_Percent'] / 20))

In [22]:
# Question Category 
def map_question_category(question):
    if 'nurse' in question.lower():
        return 'Nurse Communication'
    elif 'doctor' in question.lower():
        return 'Doctor Communication'
    elif 'clean' in question.lower():
        return 'Cleanliness'
    elif 'quiet' in question.lower():
        return 'Environment'
    elif 'pain' in question.lower():
        return 'Pain Management'
    elif 'discharge' in question.lower():
        return 'Discharge Info'
    elif 'medic' in question.lower():
        return 'Medication Explanation'
    else:
        return 'Other'

df['Question_Category'] = df['HCAHPS_Question'].apply(map_question_category)

In [23]:
# Extract Survey Year
df['Survey_Year'] = df['Start_Date'].dt.year

In [24]:
# Top Performer Flag
df['Top_Performance'] = np.where(df['Patient_Survey_Star_Rating'] >= 4.0, 1, 0)

In [25]:
# Preview new columns
print(df[['Facility_Name', 'State', 'Patient_Survey_Star_Rating', 
          'Survey_Response_Rate_Percent', 'Satisfaction_Level', 
          'Survey_Response_Category', 'Performance_Score', 
          'Question_Category', 'Survey_Year']].head())

                     Facility_Name State  Patient_Survey_Star_Rating  \
0  SOUTHEAST HEALTH MEDICAL CENTER    AL                        3.18
1  SOUTHEAST HEALTH MEDICAL CENTER    AL                        3.18
2  SOUTHEAST HEALTH MEDICAL CENTER    AL                        3.18
3  SOUTHEAST HEALTH MEDICAL CENTER    AL                        3.18
4  SOUTHEAST HEALTH MEDICAL CENTER    AL                        3.00

   Survey_Response_Rate_Percent Satisfaction_Level Survey_Response_Category  \
0                          18.0            Average                      Low
1                          18.0            Average                      Low
2                          18.0            Average                      Low
3                          18.0            Average                      Low
4                          18.0            Average                      Low

   Performance_Score    Question_Category  Survey_Year
0              2.268  Nurse Communication         2023
1              2.268  Nurse Communication         2023
2              2.268  Nurse Communication         2023
3              2.268  Nurse Communication         2023
4              2.160  Nurse Communication         2023

## Creating a Database Connection in MYSQL

In [26]:
!pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in d:\anaconda\lib\site-packages (2.0.39)
Requirement already satisfied: pymysql in d:\anaconda\lib\site-packages (1.1.2)
Requirement already satisfied: greenlet!=0.4.17 in d:\anaconda\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\anaconda\lib\site-packages (from sqlalchemy) (4.12.2)

In [27]:
!pip install tqdm

Requirement already satisfied: tqdm in d:\anaconda\lib\site-packages (4.67.1)
Requirement already satisfied: colorama in d:\anaconda\lib\site-packages (from tqdm) (0.4.6)

In [28]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",  # default XAMPP password is blank
    database="healthcare_analysis"
)
cursor = conn.cursor()

In [29]:
from tqdm import tqdm
from sqlalchemy import create_engine
import time

start_time = time.time()

print("Uploading data in chunks...")

engine = create_engine("mysql+pymysql://root:@localhost/healthcare_analysis")

chunk_size = 1000
for i in tqdm(range(0, len(df), chunk_size)):
    df.iloc[i:i+chunk_size].to_sql(
        'healthcare_survey',
        con=engine,
        if_exists='append' if i > 0 else 'replace',
        index=False
)

end_time = time.time()
elapsed_time = end_time - start_time

print("Upload complete successfully")
print(f"Total Time taken: {elapsed_time: .2f} seconds ({elapsed_time/60:.2f} minutes)")

Uploading data in chunks...

100%|██████████| 443/443 [02:22<00:00,  3.11it/s]

Upload complete successfully
Total Time taken:  144.21 seconds (2.40 minutes)

In [30]:
df.columns

Index(['Facility_ID', 'Facility_Name', 'Address', 'City/Town', 'State',
       'ZIP_Code', 'County/Parish', 'Telephone_Number', 'HCAHPS_Measure_ID',
       'HCAHPS_Question', 'HCAHPS_Answer_Description',
       'Patient_Survey_Star_Rating', 'HCAHPS_Answer_Percent',
       'HCAHPS_Linear_Mean_Value', 'Number_of_Completed_Surveys',
       'Survey_Response_Rate_Percent', 'Start_Date', 'End_Date',
       'Survey_Period_Days', 'Survey_Response_Category', 'Satisfaction_Level',
       'Rating_to_Response_Ratio', 'Performance_Score', 'Question_Category',
       'Survey_Year', 'Top_Performance'],
      dtype='object')

In [29]:
df.to_excel('Healthcare_survey.xlsx', index=False)

## Queries

In [ ]:
-- Q1 - Count the total number of Hospitals (unique facilities)
select count(distinct Facility_ID) as Total_Hospital 
from healthcare_survey;

-- Q2 - Find Top 10 states with the most hospitals
select State, 
count(distinct Facility_ID) as total_facilities 
from healthcare_survey 
group by State 
order by total_facilities desc 
limit 10;

-- Q3 - Average patient survey star rating by state 
select State, 
round(avg(Patient_Survey_Star_Rating), 2) as avg_star_rating 
from healthcare_survey 
group by State 
order by avg_star_rating desc;

-- Q4 - Calculate Average performance score by satisfaction level 
select Satisfaction_Level, round(avg(Performance_Score), 2) as avg_performance   
from healthcare_survey 
group by Satisfaction_Level 
order by avg_performance desc;

-- Q5 - Identify hospitals with rating below average of their state 
select h1.Facility_Name, h1.State, h1.Patient_Survey_Star_Rating
from healthcare_survey h1
join (
    select State, avg(Patient_Survey_Star_Rating) as state_avg
    from healthcare_survey
    group by State
) h2 on h1.State = h2.State
where h1.Patient_Survey_Star_Rating < h2.state_avg
order by h1.State, h1.Patient_Survey_Star_Rating asc;

-- Q6 - Compare satisfaction by question category 
select Question_Category,
       round(avg(Patient_Survey_Star_Rating), 2) as avg_rating,
       round(avg(HCAHPS_Answer_Percent), 2) as avg_answer_percent
from healthcare_survey
group by Question_Category
order by avg_rating desc;

-- Q7 - Average surveys completed & response rate per state 
select State,
round(avg(Number_of_Completed_Surveys), 0) as avg_completed_surveys,
round(avg(Survey_Response_Rate_Percent), 2) as avg_response_rate
from healthcare_survey
group by State
order by avg_response_rate desc;

-- Q8 - Find top 10 facilities with the highest star ratings 
select Facility_Name,
round(avg(Patient_Survey_Star_Rating), 2) as Avg_Star_Rating
from Healthcare_survey
group by Facility_Name
order by Avg_Star_Rating desc
limit 10;

-- Q9 - Analyze Satisfaction by State
select State,
round(avg(HCAHPS_Answer_Percent), 2) as Avg_Satisfaction,
count(distinct Facility_ID) as Num_Facilities
from Healthcare_survey
group by State
order by Avg_Satisfaction desc;

-- Q10 - Year Wise Performance Trend
select Survey_Year,
round(avg(HCAHPS_Linear_Mean_Value), 2) as Avg_Linear_Score,
round(avg(Patient_Survey_Star_Rating), 2) as Avg_Star_Rating
from healthcare_survey
group by Survey_Year
order by Survey_Year;

-- Q11 - Satisfaction Level Distribution
select Satisfaction_Level,
count(*) as Num_Responses,
round(avg(HCAHPS_Answer_Percent), 2) as Avg_Satisfaction
from Healthcare_survey
group by Satisfaction_Level desc;

-- Q12 - Facilities with best rating-to-response ratio
select Facility_Name,
round(avg(Rating_to_Response_Ratio), 2) as Avg_Ratio
from Healthcare_survey
group by Facility_Name
order by Avg_Ratio desc 
limit 10;

-- Q13 - Identify underperforming facilities (below threshold)
select Facility_Name, State,
avg(Patient_Survey_Star_Rating) as Avg_Rating
from Healthcare_survey
group by Facility_Name, State
having Avg_Rating < 2.5
order by Avg_Rating asc;